<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
<!--     <property name="connection.url">jdbc:microsoft:sqlserver://ServerIp:1433;user=sa;password=sa2112;databaseName=bdsavariop;</property> -->
<!--     <property name="connection.url">jdbc:sqlserver://server:1433;DatabaseName=bdsavariop</property> -->
	<property name="connection.url">jdbc:sqlserver://localhost:1433;databaseName=bdsavariop;user=sa;password=sa2112;</property>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  
    <property name="show_sql">true</property>
  
    <property name="format_sql">true</property>
<!--     <property name="hbm2ddl.auto">create</property> -->
  
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <property name="current_session_context_class">thread</property>
 
     <mapping class="com.iop.SavarProjectService.dto.Almacen" />
     <mapping class="com.iop.SavarProjectService.dto.Cliente_costo" />
     <mapping class="com.iop.SavarProjectService.dto.Cliente_sucursal" />
     <mapping class="com.iop.SavarProjectService.dto.Cliente" />
<!--      <mapping class="com.iop.SavarProjectService.dto.Control" /> -->
     <mapping class="com.iop.SavarProjectService.dto.Producto" />
<!--      <mapping class="com.iop.SavarProjectService.dto.Resultado" /> -->
     <mapping class="com.iop.SavarProjectService.dto.Sucursal" />
<!--      <mapping class="com.iop.SavarProjectService.dto.Vehiculo" /> -->
 
 <!-- <mapping resource="com/mkyong/user/DBUser.hbm.xml"></mapping> -->
</session-factory>
</hibernate-configuration>